#下面是需要忽略的ignore的提交内容
bin/
13/
14hk/
App_Data/
ErrorLog/
ExportPDF
pic/
pictemp/
obj/
UploadFile/
/SincciWeb/tmpUpLoadFile/
/SincciWeb/logfile/
/SincciWeb/images/
!/SincciWeb/kindeditor/asp.net/bin/LitJSON.dll