*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: "宋体";
    font-size: 12px;
    color: #333333;
}
ul, ol
{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6
{
    font-size: 12px;
    font-weight: normal;
}
em {
    font-style: normal;
}
img {
    border: 0 none;
}

.clear {
    clear: both;
}