.icon-add{
	background:url(../images/icons/add.gif) no-repeat;
}
.icon-addnew{
	background:url(../images/icons/addnew.gif) no-repeat;
}
.icon-edit{
	background:url(../images/icons/edit.gif) no-repeat;
}
.icon-remove{
	background:url(../images/icons/remove.gif) no-repeat;
}
.icon-save{
	background:url(../images/icons/save.gif) no-repeat;
}
.icon-close{
	background:url(../images/icons/cancel.gif) no-repeat;
}
.icon-cut{
	background:url(../images/icons/cut.png) no-repeat;
}
.icon-ok{
	background:url(../images/icons/ok.png) no-repeat;
}
.icon-no{
	background:url(../images/icons/no.png) no-repeat;
}
.icon-cancel{
	background:url(../images/icons/cancel.gif) no-repeat;
}
.icon-reload{
	background:url(../images/icons/reload.png) no-repeat;
}
.icon-search{
	background:url(../images/icons/search.gif) no-repeat;
}
.icon-print{
	background:url(../images/icons/print.gif) no-repeat;
}
.icon-help{
	background:url(../images/icons/help.gif) no-repeat;
	
}
.icon-undo{
	background:url(../images/icons/undo.gif) no-repeat;
}
.icon-redo{
	background:url(../images/icons/redo.gif) no-repeat;
}
.icon-tip{
	background:url(../images/icons/tip.png) no-repeat;
}
.icon-zoomin{
	background:url(../images/icons/zoomin.gif) no-repeat;
}
.icon-zoomout{
	background:url(../images/icons/zoomout.gif) no-repeat;
}
.icon-goto{
	background:url(../images/icons/goto.gif) no-repeat;
}
.icon-date{
	background:url(../images/icons/date.gif) no-repeat;
}
.icon-filter{
	background:url(../images/icons/filter.gif) no-repeat;
}
.icon-find{
	background:url(../images/icons/find.png) no-repeat;
}
.icon-folder{
	background:url(../images/icons/folder.gif) no-repeat;
}
.icon-folderopen{
	background:url(../images/icons/folder-open.gif) no-repeat;
}
.icon-lock{
	background:url(../images/icons/lock.png) no-repeat;
}
.icon-unlock{
	background:url(../images/icons/unlock.gif) no-repeat;
}
.icon-new{
	background:url(../images/icons/new.gif) no-repeat;
}
.icon-node{
	background:url(../images/icons/node.png) no-repeat;
}
.icon-nowait{
	background:url(../images/icons/nowait.gif) no-repeat;
}
.icon-sort{
	background:url(../images/icons/sort.gif) no-repeat;
}
.icon-wait{
	background:url(../images/icons/wait.gif) no-repeat;
}
.icon-upgrade{
	background:url(../images/icons/upgrade.gif) no-repeat;
}
.icon-downgrade{
	background:url(../images/icons/downgrade.gif) no-repeat;
}
.icon-download{
	background:url(../images/icons/download.gif) no-repeat;
}
.icon-upload{
	background:url(../images/icons/upload.gif) no-repeat;
}
.icon-user{
	background:url(../images/icons/user.png) no-repeat;
}
.icon-split{
	background:url(../images/icons/split.gif) no-repeat;
}
.icon-addfolder{
	background:url(../images/icons/addfolder.gif) no-repeat;
}

.icon-expand{
	background:url(../images/icons/expand.gif) no-repeat;
}
.icon-collapse{
	background:url(../images/icons/collapse.gif) no-repeat;
}